@import url('https://fonts.googleapis.com/css?family=Joti+One|Kavivanar|Macondo|Quicksand|Raleway|Ranga|Sedgwick+Ave+Display');
/* Eric Meyer CSS Reset begins*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Eric Meyer CSS Reset ends */

body{
  background-color: beige;
}
.mainDiv{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    line-height: 30px;
}

p, h2, header{
  margin-bottom: 20px;
}

strong{
  font-weight: bold;
  color: darkgreen;
}

h1{
  padding-top: 75px;
  text-align: center;
  font-family: serif;
  color: darkgreen;
  font-size: 60px;
  text-transform: uppercase;
}

h2{
  font-family: serif;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

ul{
  font-family: sans-serif;
  list-style-type: disc;
  color: black;
  margin-left: 30px;
  font-size: 24px;
}

blockquote{
  font-family: sans-serif;
  font-size: 24px;
  color: black;

}

#byline{
  font-family: serif;
  color: black;
  text-align: center;
  padding-bottom: 50px;
}

.text{
  font-family: sans-serif;
  color: black;
  font-size: 24px;
}

img{
  max-width: 400px;
  padding-top: 25px;
  margin-left: 275px;
  padding-bottom: 25px;

}
